
/* table */

.tx-donation-pi-donorlist .contenttable {
	width: 100%;
}

.tx-donation-pi-donorlist .contenttable thead th {
	text-align: left;
	padding: 2px 0px 1px 3px;
}

/* thead */

.tx-donation-pi-donorlist .contenttable thead a {
	color: #fff;
}

.tx-donation-pi-donorlist .contenttable thead th.col-amount {
	width: 80px;
}

.tx-donation-pi-donorlist .contenttable thead th.col-crdate {
	width: 160px;
}

/* tbody */

.tx-donation-pi-donorlist .contenttable tbody td {
	border-bottom: 1px solid #ccc;
	empty-cells: show;
}

.tx-donation-pi-donorlist .contenttable .s-external-link {
	color:#000;
	background:url(../../../t3org_template/i/i-externallink.png) right center no-repeat;
	padding-right:17px;
	
	text-decoration:none;
}

.tx-donation-pi-donorlist .contenttable .s-external-link:hover,
.tx-donation-pi-donorlist .contenttable .s-external-link:focus {
	text-decoration:underline;
}
