

.tx-donation-pi-form .leftCol {float:left; width:70%;}
.tx-donation-pi-form .rightCol {float:left; padding-left: 15px;}

.bucket-container .a-content {padding-bottom: 13px;overflow: hidden;}
.bucket-container {clear: both;}

/* ----- ----- buckets ----- ----- */


.donate-bucket p.donate-type {
	font-weight: bold;
	padding: 3px 18px 5px;
}

.donate-bucket p.donate-text {
	padding: 8px 18px 5px 18px;
	line-height: 1.2em;
	font-size: 10px;
}

.donate-bucket .donate-amount {
	margin: 5px 0 0;
	padding: 0;
}

.donate-bucket .donate-amount {
	float: left;
}



.donate-bucket input.sbmt_inp {
	background: transparent url(images/donate-submit.png) no-repeat 0px 1px;
	border: none;
	color: #fff;
	font-weight: bold;
	height: 26px;
	width: 67px;
}

.donate-bucket.paypal .bucket-header {
	height: 31px;
	
}

.donate-bucket.bwire {
	margin-right: 0px;
}

.donate-bucket.bwire .bucket-header {
	height: 31px;
	
}


/* ----- ----- bankwire form ----- ----- */

.tx-donation-pi-form fieldset {
	border: none;
	margin-bottom: 15px;
	padding-top: 5px;
}

.tx-donation-pi-form legend {
	padding-left: 15px;
	font-weight: bold;
}

.tx-donation-pi-form fieldset.submit {
	border: none;
	padding-left: 15px;
}

.tx-donation-pi-form ol {
	list-style: none;
}

#main-column .tx-donation-pi-form ol li {
	margin: 0;
}

.tx-donation-pi-form label {
	font-weight: bold;
        display:block;
        width:90px;
        float:left;
        color:#000;
}


.tx-donation-pi-form .txt_inp {
    float:left;
    width:60px;
}

.donate-amount .sbmt_inp {
    margin-top:10px;
    display: block;
}